@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    font-family: 'Raleway', sans-serif;
    background: #fafafa;
}

@media only screen and (min-width : 1224px) {

    /*----------Top band with socials----------*/

    .top_band {
        width: 100%;
        height: 30px;
        background: #E5EAE9;
        display: flex;
    }

    .socials_wrap {
        color: #000;
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;

    }


    .social_icons {
        font-size: 1.1em;
        cursor: pointer;
        opacity: 0.5;
        transition: 0.1s;
    }

    .fa-file-pdf {
        margin: 0px 15px;
    }

    /*----------//  Top band with socials----------*/
    /*----------Name band section----------*/

    .name_band {
        background-color: #47474A;
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: space-around;

    }

    .name_logo_wrap {
        position: relative;
        display: flex;
        margin-left: 180px;
    }

    .name_wrap,
    .db_logo_wrap {
        display: flex;
        justify-content: center;
        flex-flow: column;

    }

    .name_wrap {
        margin-left: 40px;
    }

    .delroyBrown {
        margin: 0;
        color: #f1f1f1;
        font-size: 80px;
        font-weight: normal;
    }

    .sub_title {
        color: #f1f1f1;
        font-size: 20px;
        font-weight: lighter;
    }

    .contact_info_wrap {
        display: flex;
        align-items: center;
        width: 40%;

    }

    .contact_box {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .contact_options {
        list-style: none;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        height: 60%;
        width: 70%;
        margin: 0;
        padding: 0;
        color: #f1f1f1;
        border-left: 1px solid #97C3B1;
    }

    .contact_icons {
        color: #fff;
        margin-right: 15px;
    }

    .contact_link {
        margin-left: 40px;
        color: #97C3B1;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
    }

    .contact_plain_text {
        color: #f1f1f1;
    }


    /*----------//  Name band section----------*/

}

/*----Hovers & what not----*/

.social_icons:hover {
    opacity: 1;
}

.social_icons:active {
    opacity: 0.5;
}